<div class="login-title">
    <span>Vaccination Clinic</span>
</div>
<div class="login-detail">
    <mat-card class="login-detail-card">
        <form [formGroup]="loginForm" class="login-details">
            <mat-form-field class="example-full-width" appearance="outline" >
                <input matInput type="text" formControlName="email">
                <mat-label>Username</mat-label>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline" >
                <input matInput type="text" formControlName="password">
                <mat-label>Password</mat-label>
            </mat-form-field>
        </form>
        <mat-card-actions>
            <a href="" target="_blank">Reset Password</a>
            <button mat-raised-button style="float: right;">Log in</button>
        </mat-card-actions>
    </mat-card>
</div>
