.serve{
    margin-top: 4vw;
    text-align: center;
    font-size:7vw;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    -webkit-text-stroke:1px #757575;
    color: transparent;
}