<section class="myservice">
    <h1 class="serve">WHY OUR SERVICES</h1>
</section>
<br>
<div class="virtues">
    <div class="three">
        <div class="access">
            <h4>ACCESSIBILITY</h4>
            <p>
                Vaccination clinics are often <br>
                designed to be easily accessible, <br>
                ensuring that people from all walks of life, <br>
                regardless of their socioeconomic status or <br>
                geographic location, can receive vital vaccines.
            </p>
        </div>
        <div class="public">
            <h4>Public Service</h4>
            <p>
                These clinics serve the greater good <br>
                by promoting health and preventing the <br>
                spread of infectious diseases. <br>
                The staff are dedicated to supporting <br>
                community health and ensuring  <br>
                everyone has the opportunity to be protected.
            </p>
        </div>
        <div class="comp">
            <h4>Compassion</h4>
            <p>
                Vaccination clinic teams show empathy and <br>
                understanding toward individuals, <br>
                addressing concerns and providing reassurance. <br>
                They understand that for some, getting vaccinated <br>
                can be an anxious experience and strive to <br>
                make it as comfortable as possible.
            </p>
        </div>
    </div>
</div>