.info p{
  margin-top: 2em;
  text-align: center;
  font-size: 25px;
  text-transform: capitalize;
  font-family: 'Times New Roman', Times, serif;
}
.patient-info-graphics-card{
  background-color: #ffd0a4;
  border: none;
  padding: 20px;
  font-size: 20px;
}
.small-heads b{
  padding:0.5em;
  margin-left: 20px;
  flex-wrap: wrap;
}
.main-form{
  max-width: 57%;
  margin-left: 20%;
  margin-top: 10em;
  margin-bottom: 10em;
  /*box-shadow: 5px 5px 30px 5px;*/
}
mat-card h1{
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  
}
mat-card p{
  max-width: auto;
  color: black;
  font-family: 30px;
  margin-left: 10%;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
  font-size: auto;
}
mat-card h2{
  font-family: 'Times New Roman', Times, serif;
}
button{
  background-color: #757575;
  border: none;
  width: 60%;
  height: 50px;
  color: white;
  border-radius: 8px;
  margin-left: 35%;
  transition: 3s;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-transform: capitalize;
}
button:hover{
  border-radius: 10px;
}
vitals-signs{
  text-align: center;
  display: grid;
  justify-content: center;
  height: auto;
}
.history-form {
  min-width: 150px;
  max-width: 500px;
  min-height: 50px;
  max-height: 150px;
  width: 100%;
}
.history-full-width {
  width: 100%;
}