<div class="info">
    <p> Patients  History & Vital Signs Vaccination Post Vacination</p>
</div>

<div class="patient-info-graphics">
  <mat-card class="patient-info-graphics-card">
    <div class="smaall-heads">
      <b>Vaccination Id:</b>  Vacc ID
      <b>Patient Name:</b> Name
      <b>Age:</b>  Age
      <b>Sex:</b>  gender
      <b>Date:</b>  Date
    </div>
  </mat-card>  
</div>

<div class="infoCollect">
  <mat-card class="main-form">
    <h1>History & Vital Signs</h1>

    <p>
      <mat-label> Any Kown food or Drug Allergy? : </mat-label>
      <mat-checkbox> Yes </mat-checkbox>
      <mat-checkbox> No </mat-checkbox>
    </p>
  
    <p>
      <mat-label> Any reaction to Vaccines? : </mat-label>
      <mat-checkbox> Yes </mat-checkbox> 
      <mat-checkbox> No </mat-checkbox> 
    </p>


    <h2>History of Previous Vaccination:</h2>
      <form class="history-form">
        <mat-form-field class="history-full-width">
          <mat-label>History of previous Vaccination</mat-label>
          <input matInput #message maxlength="256" placeholder="what happened when you last took a Vaccines?">    
        </mat-form-field>
        <button>Any vital Signs</button>
      </form>
  </mat-card>
</div>

<div class="vital-signs">
  <mat-card class=" vitals-signs-card">
    <mat-card-content>    
    <h2>Vital Signs</h2>
      <p>
        <mat-form-field appearance="outline">
        <mat-label>Temperature</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Pulse Rate</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Respiratory Rate</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Blood Pressure</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
      </p>
              
      <p>
        <mat-form-field appearance="outline">
          <mat-label>SpO<sub>2</sub></mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
      </p>

    </mat-card-content>

  </mat-card>
   
</div>