*{
    text-align: center;
}
.main{
    border-radius: 8px;
    max-width: 49vw;
    align-content: centre;
    margin-top: 27px;
    margin-left: 23%;
    background-color: #ffd0a4;
    padding: 20px;
    margin-bottom: 20px;
}
form{
    text-align: centre;
    
}
section{
    
    align-items: centre;
    justify-content: centre;
    margin-top: 20px;
}
h2{
    -webkit-text-stroke: 1px black;
    color: transparent;
    font-size: 45px;
    text-align: centre;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 4px;
    margin-top: 10px;
}
.first-name input{
    width: 75%;
    border: none;
    border-radius: 5px;
}
.middle-name input{
    width: 75%;
    border: none;
    border-radius: 5px;
}
.last-name input{
    width: 75%;
    border: none;
    border-radius: 5px;
}
.sex input{
    width: 75%;
    border: none;
    border-radius: 5px;
}
.date-of-birth input{
    width: 75%;
    border: none;
    border-radius: 5px;
}
.email input{
    width: 75%;
    border: none;
    border-radius: 5px;
}
.next-of-kin input{
    width: 75%;
    border: none;
    border-radius: 5px;
}
input{
    height: 30px;
}
.btn button{
    justify-content: center;
    align-items: centre;
    margin-left: 1vw;
    width:40%;
    height: 5vh;
    background-color: white;
    border:none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 5px;
}