<h2>Patients Details</h2>
<div class="main">
    <section class="patient-data">
        <form class="input-details">
            <div class="first-name">
                <input type="text" placeholder="FIRST NAME">
            </div>
            <br>
            <div class="middle-name">
                <label for="middle-name"></label>
                <input type="text" placeholder="MIDDLE NAME">
            </div>
            <br>
            <div class="last-name">
                <input type="text" placeholder="LAST NAME">
            </div>
            <br>
            <div class="sex">
                <input type="text" placeholder="SEX/GENDER">
            </div>
            <br>
            <label for=""> Date of birth</label>
            <div class="date-of-birth">
                <input type="date" placeholder="DATE OF BIRTH">
            </div>
            <br>
            <label for="">Email address</label>
            <div class="email">
                <input type="text" placeholder="abc@gmail.com">
            </div>
            <br>
            <div class="next-of-kin">
                <input type="text" placeholder="NEXT OF KIN">
            </div>
            <br>
            <div class="btn">
                <button>Save details</button>
            </div>
        </form>
    </section>
</div>