<div class="patients-title">
    <span>Patients Details</span>
</div>

<div class="patients-details">
    <mat-card class="patients-details-card">
        <form action="" class="patients-details">
            <mat-form-field class="example-full-width" appearance="outline">
                <input matInput type="text">
                <mat-label>First Name</mat-label>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <input matInput type="text">
                <mat-label>Middle Name</mat-label>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <input matInput type="text">
                <mat-label>Last Name</mat-label>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <input matInput type="text">
                <mat-label>Sex</mat-label>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <input matInput type="text">
                <mat-label>Date of Birth: DD/MM/YYYY</mat-label>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <input matInput type="text">
                <mat-label>Email Address</mat-label>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <input matInput type="text">
                <mat-label>Next of Kin</mat-label>
            </mat-form-field>
        </form>
        <mat-card-actions>
            <button mat-raised-button style="float: right;">Save</button>
        </mat-card-actions>
    </mat-card>
</div>
