
.patients-title {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 2.5rem;
}

.patients-details {
    padding: 0.25rem;
    margin-top: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.patients-details-card {
    max-width: 1000px;
   
}
.example-full-width{
    display: flex;
}