
<div class="info">
    <p> Patients  History & Vital Signs Vaccination Post Vacination</p>
</div>


<div class="patient-info-graphics">
  <mat-card class="patient-info-graphics-card">
      <mat-card-content>
<b>Vaccination Id:</b> Some Vacc ID
<b>Patient Name:</b>Some Name
<b>Age:</b> Some Age
<b>Sex:</b> Some gender
<b>Date:</b> Some Date
      </mat-card-content>
    </mat-card>  
</div>


<h1>Vaccine Adminstration</h1>
<div class="vaccination">

    <mat-card>
        <mat-card-content>
            <p>
                <mat-form-field >
                  <mat-label>Dose No.</mat-label>
                  <input matInput placeholder="Dose No.">
                </mat-form-field>
              </p>

              <p>
                <mat-form-field >
                  <mat-label>Vaccine Name</mat-label>
                  <input matInput placeholder="Vaccine Name">
                </mat-form-field>
              </p>

              <p>
                <mat-form-field >
                  <mat-label>Dosage</mat-label>
                  <input matInput placeholder="Dosage">
                </mat-form-field>
              </p>

              <p>
                <mat-form-field >
                  <mat-label>Vaccine Lot No.</mat-label>
                  <input matInput placeholder="Vaccine Lot No">
                </mat-form-field>
              </p>

              <p>
                <mat-form-field >
                  <mat-label>Outline form field</mat-label>
                  <input matInput placeholder="Placeholder">
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
              </p>

              <p>
                <mat-form-field >
                  <mat-label>Outline form field</mat-label>
                  <input matInput placeholder="Placeholder">
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
              </p>

              <p>
                <mat-form-field >
                  <mat-label>Administerd By.</mat-label>
                  <input matInput placeholder="Administerd By.">
                </mat-form-field>
              </p>

              <button mat-flat-button>Save</button>

        </mat-card-content>
      </mat-card>

      <h1>Post Vaccination </h1>
      <h2>Post Vaccination Notes</h2>

      <mat-form-field class="vaccinationnotes">
        <mat-label>VaccinationNotes</mat-label>
        <textarea matInput placeholder="Add vaccination notes..."></textarea>
      </mat-form-field>
      <br>

      <button mat-flat-button>Save</button>
      




</div>