
<div class="info">
  <p> Patients  History & Vital Signs Vaccination Post Vacination</p>
</div>

<section class="patient-info-graphics">
  <mat-card class="patient-info-graphics-card">
    <div class="mini-heads">
      <b>Vaccination Id:</b>  Vacc ID
      <b>Patient Name:</b> Name
      <b>Age:</b>  Age
      <b>Sex:</b>  gender
      <b>Date:</b>  Date  
    </div>
  </mat-card>  
</section>


<h1 class="heading">
  Vaccine Adminstration
</h1>

<div class="vaccination">
  <mat-card class="vaccination-card">
    <mat-card-content class="container">
      <p>
        <mat-form-field >
          <mat-label>Dose No.</mat-label>
          <input matInput placeholder="Dose No.">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field >
          <mat-label>Vaccine Name</mat-label>
          <input matInput placeholder="Vaccine Name">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field >
          <mat-label>Dosage</mat-label>
          <input matInput placeholder="Dosage">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field >
          <mat-label>Vaccine Lot No.</mat-label>
          <input matInput placeholder="Vaccine Lot No">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field >
          <mat-label>Outline form field</mat-label>
          <input matInput placeholder="Placeholder">
          
        </mat-form-field>
      </p>

      <p>
        <mat-form-field >
          <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder">
            
          </mat-form-field>
      </p>

      <p>
        <mat-form-field >
          <mat-label>Administerd By.</mat-label>
          <input matInput placeholder="Administerd By.">
        </mat-form-field>
      </p>

      <button mat-flat-button>Save</button>

    </mat-card-content>
  </mat-card>

  <h1 class="post" style="text-align: center;">Post Vaccination </h1>
  <h2 style="text-align: center;">Post Vaccination Notes</h2>

  <mat-form-field class="vaccinationnotes">
    <mat-label>VaccinationNotes</mat-label>
    <textarea matInput placeholder="Add vaccination notes..."></textarea>
  </mat-form-field>
  <br>
  <section class="bts">
    <button mat-flat-button>Save</button>
  </section>
</div>