.title{
    text-align: center;
    font-weight: 700;
    margin-top: 5rem;
    font-size: 2rem;
}
.buttons{
    text-align: center;
    margin-top: 5.5rem;
}

.buttons-a{
    margin-right: 5rem;
}
.buttons-b{
    margin-left: 5rem;
}

.buttons-a, .buttons-b {
    background-color: #ffd0a4;
}