.title{
    text-align: center;
    font-weight: 700;
    margin-top: 5rem;
    font-size: 7vw;
    font-family: 'Times New Roman', Times, serif;
    -webkit-text-stroke:2px #131212;
    color: transparent;
}
.pass{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vw;
    color: #757575;
    margin-top: 10px;
}
.buttons{
    text-align: center;
    margin-top: 5.5rem;
}

.buttons-a{
    margin-right: 5rem;
}
.buttons-b{
    margin-left: 5rem;
}

.buttons-a, .buttons-b {
    background-color: #ffd0a4;
    transition: 0.5s;
}
.buttons-a:hover{
    background-color: #757575;
    color: #ffd0a4;
}
.buttons-b:hover{
    background-color: #757575;
    color: #ffd0a4;
}