<div class="title">
    <p> VACCINATION CLINIC </p>
</div>
<br>
<div class="pass">
    <p>
        Vaccination is one of the most effective ways <br> <br>
        to protect individuals and communities from serious <br> <br>
        diseases. By stimulating the immune system to recognize <br> <br>
        and fight specific pathogens, vaccines prevent illnesses before they occur.
    </p>
</div>

<div class="buttons">
    <button mat-raised-button class="buttons-a">INFORMATION</button>
    <button mat-raised-button class="buttons-b" routerLink="/login-page" >VACCINATION</button>
</div>


